.footer {
  background: #262626;
  height: 90px;
  flex: 0 0 auto;
}

.footer__brand {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-top: 30px;
}

.footer__item {
    margin-right: 40px;
}

.footer__items {
    display: flex;
    list-style: none;
    padding: 0;
}

.footer__link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.img__my{
    width: 50px;
    height: 50px;
}
.img__my2{
    width: 53px;
    height: 53px;
}
.footer__author{
    display: flex;
    gap: 8px;
    align-items: center;
}
.social__main{
    padding: 10px;
    padding-bottom: 4px;
    background-color: #fafafa;
    border-radius: 15px;
    display: flex;
    gap: 10px;

}
.social__main a {
    height: min-content;
}
@media (max-width: 768px) {
    .social__main{
        padding: 4px;
    
    }
    .footer__author{
        margin-left: 10px;
    }
    .footer__author .footer__brand{
        display: none;
    }
    .footer__brand {
        font-size: 12px;
        line-height: 12px;
        text-align: initial;
    }
    .img__my{
        width: 40px;
        width: 40px;
    }
    .img__my2{
        width: 43px;
        width: 43px;
    }
}