.ingredients {
}

.ingredients__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
  max-height: 104px;
  flex-wrap: wrap;
  width: fit-content;
  padding: 10px;
  background-color: #fff;
  border: 1px solid rgba(255, 0, 0, 0.2);
  box-shadow: inset 0 -3em 3em rgb(225 245 112 / 30%),
    18px 18px 10px -14px rgb(0 0 0 / 35%);
}

.ingredients__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin: 0 0 12px;
}

.ingredients__list-item {
  font-size: 16px;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  margin: 0;
  padding: 0;
  width: max-content;
}
